# Node.js dependencia
node_modules/

# Diretorio com os arquivos compilados
dist/
build/

# Typescript
*.tsbuildinfo

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor-especific files
# .vscode/
.idea/
*swp
*.swo
*.DS-Store
Thumbs.db

# OS-specific files
.DS_Store
*.lock

# Other
coverage/
tmp/